 {% load static %}
 {% load staticfiles %}
    {% include "header.html" %}
<!-- //header -->
<!-- products-breadcrumb -->
	<div class="products-breadcrumb">
		<div class="container">
			<ul>
				<li><i class="fa fa-home" aria-hidden="true"></i><a href="http://127.0.0.1:8000/">Home</a><span>|</span></li>
				<li>About Us</li>
			</ul>
		</div>
	</div>
<!-- //products-breadcrumb -->
<!-- banner -->
	<div class="banner">
		<div class="w3l_banner_nav_left">
{#			<nav class="navbar nav_bottom">#}
{#			 <!-- Brand and toggle get grouped for better mobile display -->#}
{#			  <div class="navbar-header nav_2">#}
{#				  <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">#}
{#					<span class="sr-only">Toggle navigation</span>#}
{#					<span class="icon-bar"></span>#}
{#					<span class="icon-bar"></span>#}
{#					<span class="icon-bar"></span>#}
{#				  </button>#}
{#			   </div> #}
{#			   <!-- Collect the nav links, forms, and other content for toggling -->#}
{#				<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">#}
{#					<ul class="nav navbar-nav nav_1">#}
{#						<li><a href="products.html">All Brands</a></li>#}
{#						<li><a href="protein.html">Whey Protein</a></li>#}
{#						<li><a href="gainers.html">Mass Gainers</a></li>#}
{#						<li><a href="bcaa.html">Bcaa Powder</a></li>#}
{#						#}
{#				#}
{#						<li><a href="fatburner.html">Fat Burners</a></li>#}
{#                        <li><a href="preworkout.html">Pre-Workout</a></li>#}
{#                        <li><a href="vitamin.html">Multi Vitamins</a></li>#}
{#                        #}
{#                        #}
{#                        <li class="dropdown">#}
{#							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Recommend Me!<span class="caret"></span></a>#}
{#							<div class="dropdown-menu mega-dropdown-menu w3ls_vegetables_menu">#}
{#								<div class="w3ls_vegetables">#}
{#									<ul>#}
{#										<li><a href="drinks.html">Suggest Me A Supplement</a></li>#}
{#										<li><a href="drinks.html">Suggest Me A Diet Plan</a></li>#}
{#									</ul>#}
{#								</div>                  #}
{#							</div>	#}
{#						</li>#}
{#                        #}
{#					</ul>#}
{#				 </div>#}
{#                <!-- /.navbar-collapse -->#}
{#			</nav>#}
		</div>
    </div>


<!-- about -->
		<div class="privacy about">
			<h3>About Us</h3>
			<p class="animi" align="center"><br>

                <b>Protonic Nutrition, An Online Retail Store</b><br>

                <b>Protonic Nutrition,</b> working efficiently for the uprising of supplementation and nutrients.<br>

                <b>Protonic Nutrition</b> makes sure that it’s clients avail the services and products in less prices.<br><br>
            </p>
			<br>
            <br>
            <h3>Privacy Policy</h3>
            <p align="center"><br>Protonic Nutrition chooses authenticity and customer health over business.
                Ensuring that each and every single product of ours is 100% genuine and authentic.
                We provide you with the best there is.<br><br></p>
            <br>
            <br>
            <h3>Why Choose Us?</h3>
            <p align="center">Choose Protonic Nutriton as your #1 supplement retailer, making your fitness journey an experience to cherish.
                From all the pain and aches,Protonic Nutrition rises to the top with original supplementation and nutritional facts</p>
            <br>
            <br>
            <p class="animi" align="center"><br>PROTONIC NUTRITION, AN ONLINE SUPPLEMENT DISTRIBUTOR MAKING SURE YOUR GYM LIFE
                STAYS PERSISTENT AND BENEFICIAL<br><br></p>
        </div>
				<div class="clearfix"> </div>

<!-- //about -->

		<div class="clearfix"></div>

<!-- //banner -->
<!-- team -->
	
<!-- //team -->
<!-- testimonials -->
	<div class="testimonials">
		<div class="container">
			<h3>Testimonials</h3>
				<div class="w3_testimonials_grids">
					<div class="wmuSlider example1 animated wow slideInUp" data-wow-delay=".5s">
						<div class="wmuSliderWrapper">
							<article style="position: absolute; width: 100%; opacity: 0;"> 
								<div class="banner-wrap">
									<div class="col-md-6 w3_testimonials_grid">
										<p><i class="fa fa-quote-right" aria-hidden="true"></i>Unbeatable prices, genuine products and excellent service. I've bought a wide range of supplements from Protonic Nutrition over several months and I always get a great deal and quality products. The sales are insane... even products that are short in the market are sometimes available at 50% off! If you're not sure exactly what you need, just ask for suggestions and you'll get really helpful advice as well as an honest opinion on value-for-money. I highly recommend Protonic Nutrition to all those who are looking to maximise results and take their workouts to the next level... even my cat is a fan!</p>
										<h4>Maz Kaleem<span>Customer</span></h4>
									</div>
									<div class="col-md-6 w3_testimonials_grid">
										<p><i class="fa fa-quote-right" aria-hidden="true"></i>Got my syntha-6 whey protein from protonic nutrition....It is 100% authentic n the service was very good...Good Job</p>
										<h4>Asad Khan<span>Customer</span></h4>
									</div>
									<div class="clearfix"> </div>
								</div>
							</article>
							<article style="position: absolute; width: 100%; opacity: 0;"> 
								<div class="banner-wrap">
									<div class="col-md-6 w3_testimonials_grid">
										<p><i class="fa fa-quote-right" aria-hidden="true"></i>Iman these ppl have the best price for all the products and the customer care is truly amazing... i feel like talking to a friend whenever i contact them and they take good care of whatever i have in say... i recommend protonic nutrition to whoever needs supplements at an affordable price. love u Abdullah bhai</p>
										<h4>Umar Farooq<span>Customer</span></h4>
									</div>
									<div class="col-md-6 w3_testimonials_grid">
										<p><i class="fa fa-quote-right" aria-hidden="true"></i>Protonic Nutrition has been my go-to place for all my supplements. Bought three C4 original and RC King Whey. Genuine products, amazing customer service and highly competitive prices. Would recommend 10/10. </p>
										<h4>Danyal <span>Customer</span></h4>
									</div>
									<div class="clearfix"> </div>
								</div>
							</article>
							<article style="position: absolute; width: 100%; opacity: 0;"> 
								<div class="banner-wrap">
									<div class="col-md-6 w3_testimonials_grid">
										<p><i class="fa fa-quote-right" aria-hidden="true"></i>Ordered my first whey protein...muscle infusion by nutrex.Totally loved it.Delivery was on time as well</p>
										<h4>Ahmad <span>Customer</span></h4>
									</div>
									<div class="col-md-6 w3_testimonials_grid">
										<p><i class="fa fa-quote-right" aria-hidden="true"></i>yesterday I received my order it's authentic and original . we hope you will keep providing original and authentic products.thanks</p>
										<h4>Ali<span>Customer</span></h4>
									</div>
									<div class="clearfix"> </div>
								</div>
							</article>
						</div>
					</div>
					<script src="{% static 'js/jquery.wmuSlider.js'%}"></script>
					<script>
						$('.example1').wmuSlider();         
					</script> 
				</div>
		</div>
	</div>
<!-- //testimonials -->
<!-- newsletter -->
	<div class="newsletter">
		<div class="container">
			<div class="w3agile_newsletter_left">
				<h3>Receive Updates On Supplements! Sign Up Here!</h3>
			</div>
			<div class="w3agile_newsletter_right">
				<form action="#" method="post">
					<input type="email" name="Email" value="Email" onfocus="this.value = '';" onblur="if (this.value = '') {this.value = 'Email';}" required="" title="">
					<input type="submit" value="subscribe now">
				</form>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //newsletter -->
<!-- footer -->
		{% include "footer.html" %}
</html>