 {% load static %}
    {% load staticfiles %}
{% include "header.html" %}
<!-- faq -->
		<div class="privacy about">
			<h3>FAQ's And Instructions</h3>
			<p class="animi" align="center"><br>

                <b>Protonic Nutrition, believes that customers are the priority</b><br>

                </b> Read through our official FAQ’s Panel to get updates regarding our products and services.<br>

               </b> Our 24/7 nutritionists / customer support panel is here to help you.<br><br>
            </p>
			<br>
            <br>
            <h3>What Are The Accepted Payment Methods?</h3>
            <p align="center"><br>For now, Protonic Nutrition is only accepting COD ( Cash On Delivery ) method only. Direct bank transfers will soon be included as means of payments.<br><br></p>
            <br>
            <br>
            <h3>Which Courier Service We Use?</h3>
            <p align="center">We are using one of the most reliable courier service named forrun courier service which are operating
in most cities of paksitan and are working day and night to deliver products on time and in perfect
condition. Whenever you will place a order on our website, you will receive a tracking number from forrun courier
services through which u can track ur order easily.</p>
            <br>
            <br>
    
    <br>
            <br>
            <h3>How To Track A Order</h3>
            <p align="center"><br>After placing a order on our website, you will receive a sms from forrun courier service which will
include your tracking number , eg 201000100 .. you can track your at:
http://live.forrun.co/<br><br></p>
            <br>
            <br>
    
    <br>
            <br>
            <h3>How To Authenticate A Supplement?</h3>
            <p align="center"><br>We know it matters to you. When you pay for a product, you expect to get the best. Talking about consumables, like body-building supplements, it matters all the more because a fake supplement causes more harm than a fake branded shoe.

Through bar code/qr code:

One of the most reliable way to authenticate a supplement is through bar code, most of us are using smartphones now, download any bar code scanning app from google play store and scan the bar code on your supplement, search for the product, it will take you to google search and will show related upc/bar code and the product assigned to it.

Manufacturing Date:

Another way to authenticate a supplement is to calculate the time from manufacturing till expiry, Optimimum nutrition product’s mostly gets expired within 2 years , while others stay for 3 years.

Lot Number :

You can also send the lot number / bar code to the manufacturing company and they will verify you if your supplement is original or fake.

Still not sure about your supplement?

No worries , we’re 24/7 available on Whatsapp, feel free to contact us.
<br><br></p>
            <br>
            <br>
    
    <br>
            <br>
            <h3>Return Policy?</h3>
            <p align="center"><br>If you find (prove) any product fake or you have any issue related to the product which is valid and is our fault , we will take return free of cost , you want your cash back , you can have it , you want a different product you can have it.

If you don’t like the product because of the flavor or anything else which is not our fault, we wont return the product If is it opened.

Note:

* Short Expiry / Sale Products wont be returned unless found fake.

* Clumps Are Often Expected In Creatine Powder / Pre-Workout Powder due to moisture and weather condition , Such  Products Will Only Be Returned If Found Fake.
<br><br></p>
            <br>
            <br>
    
    
    
            <p class="animi" align="center"><br>PROTONIC NUTRITION, AN ONLINE SUPPLEMENT DISTRIBUTOR MAKING SURE YOUR GYM LIFE
                STAYS PERSISTENT AND BENEFICIAL<br><br></p>
        </div>
<!-- //faq -->
		</div>
		<div class="clearfix"></div>
	</div>
<!-- //banner -->
<!-- newsletter -->
	<div class="newsletter">
		<div class="container">
			<div class="w3agile_newsletter_left">
				<h3>Receive Updates On Supplements! Sign Up Here!</h3>
			</div>
			<div class="w3agile_newsletter_right">
				<form action="#" method="post">
					<input type="email" name="Email" value="Email" onfocus="this.value = '';" onblur="if (this.value = '') {this.value = 'Email';}" required="" title="">
					<input type="submit" value="subscribe now">
				</form>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //newsletter -->
<!-- footer -->
	{% include "footer.html" %}
</html>