{% extends "layout.html" %}

{% block content %}


<div class="container-fluid">
    <div class="row justify-content-center">
        
        <div class="col-md-12">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-header">Dashboard</div>

                <div class="card-body">
                     {% if request.session.status %}
                        <div class="alert alert-success" role="alert">
                            {{ request.session.status }}
                        </div>
                     {% endif %}

                    {% if request.session.error %}
                        <div class="alert alert-danger" role="alert">
                            {{ request.session.error }}
                        </div>
                    {% endif %}
                    


                
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
